html{
    background-image: url("../images/charcoal.gif");
}
body {
    background:transparent;
    padding-top: 60px;
    padding-bottom: 20px;
}

.container-fluid > .content {
    margin-left: 240px;
    background: white;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.content .content-body{
    position: relative;
}

.page-header{
    margin-bottom: 30px;
}
.page-header h1 {
    font-size: 40px;
    text-shadow: 1px 1px 3px #aaa;
}
.page-header small{
       text-shadow: none;
}
.back{
    float:right;
}
.span7{
    min-width: 45%;
}
.container-fluid > .sidebar {
    float: none;
    position: absolute
}
.hero-unit{
    padding: 20px;
    margin-left: 240px;
    background: #fff;
}

.content-body h2{
    color: #0064CD;
    margin-bottom: 5px;
}