<div class="topbar">
    <div class="topbar-inner">
        <nav class="container-fluid">
            <a class="brand" href="{{site.url}}">david.mn</a>
            <ul class="nav">
                <li
                {% if page.section == 'blog' %} class="active" {% endif %}><a href="/">Blog</a></li>
                <li
                {% if page.section == 'about' %} class="active" {% endif %}><a href="/about/">About me</a></li>
                <li
                {% if page.section == 'contact' %} class="active" {% endif %}><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>