<aside class="sidebar">
    <div class="well">
        <h2>Me</h2>

        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus.</p>

        <p>- <a href="/about/">more about me</a></p>
        <hr/>
        <h2>Categories</h2>
        <ul>
            {% for category in site.categories %}
            <li><a href="{{category.first | category_link }}">{{category.first}}</a></li>
            {% endfor %}
        </ul>
        <hr/>
        <h2>Social</h2>
        <ul>
            <li><a href="http://br.linkedin.com/in/davidmichaelnelson">LinkedIn</a></li>
            <li><a href="http://twitter.com/davidmichael">Twitter (@davidmichael)</a></li>
        </ul>
        <hr/>
        <h2>Open source</h2>
        <ul>
            <li><a href="http://github.com/dmnelson">GitHub account</a></li>
        </ul>

    </div>
</aside>