<div class="sidebar">
    <div class="well">
        <h3>Me</h3>

        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus.</p>

        <p>- <a href="/about.html">more about me</a></p>
        <hr/>
        <h3>Open source</h3>
        <ul>
            <li><a href="http://github.com/dmnelson">GitHub account</a></li>
        </ul>
        <hr/>
        <h3>Social</h3>
        <ul>
            <li><a href="http://br.linkedin.com/in/davidmichaelnelson">LinkedIn</a></li>
            <li><a href="http://twitter.com/davidmichael">Twitter</a></li>
        </ul>
    </div>
</div>