<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <script type="text/javascript" src="/js/comments.js"></script>
    <script type="text/javascript">
        $(function() {
            var comments = Comments({
                        shortname: 'davidmn',
                        developerMode: true
                    });
            comments.initialize();
        })
    </script>
</head>
<body>
{% include navigation.html %}
<div class="container-fluid">
    {% include sidebar.html %}
    {% include content_header.html %}

    <div class="content">
        <ul class="breadcrumb">
            <li><a href="{{site.url}}">david.mn</a> <span class="divider">&raquo;</span></li>
            <li><a href="/">blog</a> <span class="divider">&raquo;</span></li>
            <li class="active">{{page.title}}</li>
        </ul>

        <div class="content-body">

            <section id="post">
                <h2>{{page.title}}</h2>
                {{content}}
            </section>
            <hr/>
            <section id="comments">
                <div id="disqus_thread"></div>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments
                    powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span
                        class="logo-disqus">Disqus</span></a>
            </section>
        </div>
        {% include footer.html %}
    </div>
</div>

</body>
</html>